<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="icon" href="<%= BASE_URL %>favicon.png">
    <title>Pousada Mar de Minas</title>
    <meta name="description" content="Uma das primeiras construções as marges do Lago de Furnas, em Capitólio. Com um visual exuberante e uma estrutura agradável, a pousada proporciona a você e sua família conforto, tranquilidade e lazer, em perfeita harmonia com a natureza.">
    <meta name="google-site-verification" content="FLCnDa2YX0TLqGcMfZAsAZwZ8Kn1nz1MVrsVHU8Y7Wo" />
  </head>
  <body>
    <noscript>
      <strong>We're sorry but Pousada Mar de Minas doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
    </noscript>
    <div id="app"></div>
    <!-- built files will be auto injected -->

    <script async src="https://www.jscache.com/wejs?wtype=selfserveprop&amp;uniq=842&amp;locationId=5538613&amp;lang=pt&amp;rating=true&amp;nreviews=3&amp;writereviewlink=true&amp;popIdx=true&amp;iswide=true&amp;border=false&amp;display_version=2" data-loadtrk onload="this.loadtrk=true"></script>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-51799966-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-51799966-1');
    </script>
  </body>
</html>
