<template>
  <div>
    <section-start />
    <section-accommodations />
    <section-features />
    <section-testimonials />
    <section-tour />
    <section-reservation />
    <the-footer />
  </div>
</template>

<script>
import SectionStart from '@/components/SectionStart'
import SectionAccommodations from '@/components/SectionAccommodations'
import SectionFeatures from '@/components/SectionFeatures'
import SectionTestimonials from '@/components/SectionTestimonials'
import SectionTour from '@/components/SectionTour'
import SectionReservation from '@/components/SectionReservation'
import TheFooter from '@/components/TheFooter'

export default {
  name: 'Home',
  components: {
    SectionStart,
    SectionAccommodations,
    SectionFeatures,
    SectionTestimonials,
    SectionTour,
    SectionReservation,
    TheFooter
  }
}
</script>
