<template>
  <section id="passeios" class="section section__tour">
    <div class="container is-fluid">
      <div class="columns">
        <div class="column is-6-desktop order-2-mobile order-1-mobile">
          <div class="slider"></div>
        </div>
        <div class="column is-4-tablet is-offset-1-tablet order-1-mobile order-2-desktop">
          <h2 class="section__title section__title--white">Vamos passear?</h2>

          <p class="section__description">
            Na Pousada Mar de Minas, oferecemos um passeio de lancha incrível pelo Lago de Furnas. A Lancha navega pelo Lago  e faz a visitação aos <strong>Canyons</strong>, <strong>cascatas</strong>, <strong>cachoeiras</strong> e <strong>bares flutuantes</strong>, desfrutando cenários <strong>paradisíacos</strong>!
          </p>
          <p class="section__description">
            Além do passeio de lancha, oferecemos também um passeio de veículo 4x4 para as diversas <strong>cachoeiras, mirantes, Usina Hidrelétrica de Furnas, alambiques e casas de queijos, doces e artesanatos.</strong>
          </p>
          
          <ul class="tour-security-list">
            <li class="tour-security-list__item">Veículos cadastrados</li>
            <li class="tour-security-list__item">Pilotos habilitados</li>
            <li class="tour-security-list__item">Seguro de vida</li>
          </ul>
        </div>
      </div>
    </div>
  </section>
</template>

<style lang="sass" scoped>
  .section__tour
    background: #e67d20
    background: -moz-linear-gradient(-45deg, #e67d20 0%, #c05a00 100%)
    background: -webkit-linear-gradient(-45deg, #e67d20 0%,#c05a00 100%)
    background: linear-gradient(135deg, #e67d20 0%,#c05a00 100%)
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e67d20', endColorstr='#c05a00',GradientType=1 )

    @include breakpoint(desktop)
      padding: 0

    .section__title
      margin-top: 3rem
      margin-bottom: 4rem
      color: $white

      @include breakpoint(desktop)
        margin-top: 5rem

    .section__description
      font-size: 1.8rem
      line-height: 2.4rem
      letter-spacing: .1rem
      margin-bottom: 2rem
      color: $white

      strong
        color: $white

    .slider
      width: 100%
      height: 50vh
      background: url(../assets/images/tour_01.jpg) center center /cover no-repeat

      @include breakpoint(desktop)
        width: calc(100% + 64px)
        margin-top: -.75rem
        margin-left: -64px
        height: 101%

    .tour-security-list
      margin-bottom: 2rem

    .tour-security-list__item
      display: inline-block
      font-weight: $bold
      padding: 1.5rem 3rem
      border: 2px solid $white
      border-radius: .5rem
      color: $white
      margin: 0 2rem 2rem 0

      &:before 
        content: ''
        width: 2rem
        height: 2rem
        background: url(../assets/images/icon__checkmark.svg) center center /cover no-repeat
        display: inline-block
        margin-right: 1.5rem
        position: relative
        top: .5rem
</style>
