<template>
  <section id="inicio" class="section section__start">
    <div class="container is-fluid">
      <div class="columns">
        <div class="column is-10-tablet is-offset-1-tablet">
          <the-header />
        </div>
      </div>

      <div class="columns">
        <div class="column is-8-tablet is-offset-1-tablet">
          <h1 class="section__start-title">
            Seja bem vindo à Pousada Mar de Minas,
            fique à vontade...
          </h1>
        </div>
      </div>

      <div class="columns column is-2-tablet is-offset-1-tablet">
        <a
          href="https://hotels.cloudbeds.com/pt-br/reservas/f7eLjK"
          target="_blank"
          class="button"
          style="display: flex !important; align-items: center;">
          Reservar
        </a>
      </div>
    </div>
  </section>
</template>

<script>
import TheHeader from '@/components/TheHeader'

export default {
  name: 'SectionStart',
  components: {
    TheHeader
  }
}
</script>

<style lang="sass" scoped>
  .section__start
    height: 100vh
    background: url(../assets/images/bg__start.jpg) center center /cover no-repeat

    &-title
      margin-top: 15rem
      margin-bottom: 2rem
      font-size: 4rem
      line-height: 4.8rem
      font-weight: $bold
      color: $white
      text-shadow: 0 .2rem .4rem rgba(0, 0, 0, .15)

      @include breakpoint(tablet)
        margin-bottom: 2rem
        font-size: 6rem
        line-height: 6.8rem

      @include breakpoint(desktop)
        font-size: 7.2rem
        line-height: 8rem
</style>
