<template>
  <section id="acomodacoes" class="section section__gallery">
    <div class="container is-fluid">
      <div class="columns">
        <div class="column is-4-tablet is-offset-1-tablet">
          <h2 class="section__title section__title--secondary">Você merece tudo isso</h2>

          <p class="section__description">Confira algumas fotos de como é a experiência de estar hospedado na Pousada Mar de Minas:</p>
        </div>
        <div class="column is-8-desktop">
          <slider :slides="images"></slider>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
import Slider from '@/components/Slider'
export default {
  name: 'SectionAcommodations',
  data () {
    return {
      images: []
    }
  },
  components: {
    Slider
  },
  mounted () {
    const numberOfSlides = 58

    for (let index = 1; index <= numberOfSlides; index++) {
      this.images.push({
        url: require(`../assets/images/gallery/galeria_${index}.jpg`)
      })
    }
  }
}
</script>

<style lang="sass" scoped>
  .column.is-8-desktop
    @include breakpoint(desktop)
      width: 58vw

  .section__gallery
    background-color: $almost-white

    @include breakpoint(desktop)
      padding: 0

    .section__title
      margin-top: 20rem
      margin-bottom: 4rem

      @include breakpoint(desktop)
        margin-top: 35rem

    .section__description
      font-size: 1.8rem
      line-height: 2.4rem
      letter-spacing: .1rem
      margin-bottom: 2rem

      @include breakpoint(desktop)
        margin-bottom: 0
</style>
