<template>
  <section id="o-que-dizem" class="section section__testimonials">
    <div class="container is-fluid">
      <div class="columns">
        <div class="column is-5-tablet is-offset-1-tablet">
          <h2 class="section__title section__title--white">O que dizem...</h2>

          <div id="TA_selfserveprop842" class="TA_selfserveprop">
            <ul id="mpfzKHqDMTb" class="TA_links SuEEYwr">
              <li id="LQavZUOt" class="m42ZNIZHoj">
                <a target="_blank" href="https://www.tripadvisor.com.br/"><img src="https://www.tripadvisor.com.br/img/cdsi/img2/branding/150_logo-11900-2.png" alt="TripAdvisor"/></a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>
</template>

<style lang="sass">
  .section__testimonials
    padding-top: 20rem
    padding-bottom: 20rem
    background: url(../assets/images/bg__testimonials.jpg) top right /cover no-repeat

    .section__title
      margin-bottom: 6rem
      color: $white
      text-shadow: 0 1rem 1rem rgba(0, 0, 0, .15)

    .TA_selfserveprop
      padding: 1rem
      border-radius: 1rem
      background-color: $white
      box-shadow: 0 1rem 1.5rem rgba(0, 0, 0, .25)

  #CDSWIDSSP
    width: 100% !important
</style>
