<template>
  <section id="reservas" class="section section__reservation">
    <div class="modal" :class="{ 'is-active': formResponse !== '' }">
      <div class="modal-background" @click="closeModal"></div>
      <div class="modal-content">
        <div class="box">
          {{ formResponse }}
        </div>
      </div>
      <button class="modal-close is-large" aria-label="close" @click="closeModal"></button>
    </div>

    <div class="container is-fluid">
      <div class="columns">
        <div class="column is-10-tablet is-offset-1-tablet has-text-centered">
          <h2 class="section__title section__title--white">Consulte agora mesmo!</h2>

          <div class="field-body">
            <div class="field">
              <label class="label">Check-in:</label>
              <input v-model="checkIn" required type="text" class="input" placeholder="dd/mm/aaaa">
            </div>
            <div class="field">
              <label class="label">Check-out:</label>
              <input v-model="checkOut" required type="text" class="input" placeholder="dd/mm/aaaa">
            </div>
          </div>
          <div class="field-body">
            <div class="field">
              <label class="label">Adultos:</label>
              <input v-model="adults" required type="number" min="1" max="10" value="1" placeholder="02" class="input">
            </div>
            <div class="field">
              <label class="label">Crianças:</label>
              <input v-model="children" required type="number" min="0" max="10" value="0" placeholder="00" class="input">
            </div>
          </div>
            <div class="field">
              <label class="label">Seu e-mail:</label>
              <input v-model="email" required type="text" class="input" placeholder="nome@gmail.com">
            </div>
            <div class="field">
              <label class="label">Mensagem (opcional):</label>
              <textarea v-model="message" class="textarea"></textarea>
            </div>
            <div class="field">
              <label class="label">&nbsp;</label>
              <button type="submit" class="button button--orange" @click="submitForm">
                {{ submitButtonText }}
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
import axios from 'axios'
export default {
  name: 'SectionReservation',
  data () {
    return {
      isSending: false,
      formResponse: '',
      formData: '',
      checkIn: '',
      checkOut: '',
      adults: 0,
      children: 0,
      email: '',
      message: ''
    }
  },
  computed: {
    submitButtonText () {
      return (this.isSending) ? 'Enviando...' : 'Consultar'
    },
    formContent () {
      const formBody = new FormData()

      formBody.append('checkIn', this.checkIn)
      formBody.append('checkOut', this.checkOut)
      formBody.append('adults', this.adults)
      formBody.append('children', this.children)
      formBody.append('email', this.email)
      formBody.append('message', this.message)

      return formBody
    }
  },
  methods: {
    submitForm () {
      this.isSending = true

      if (
        this.checkIn === '' ||
        this.checkOut === '' ||
        this.adults === '' ||
        this.children === '' ||
        this.email === ''
      ) {
        this.isSending = false
        return this.formResponse = 'Todos os campos são obrigatórios!'
      }

      axios.post(
        'http://pousadamardeminas.com.br/mail.php', 
        this.formContent
      ).then((response) => {
        console.log(response)
        this.isSending = false
        this.formResponse = 'Obrigado! Entraremos em contato em breve.'
      }).catch((error) => {
        console.log(error)
        this.isSending = false
        this.formResponse = 'Ops, algo deu errado, tente novamente mais tarde por favor.'
      })
    },
    closeModal () {
      this.formResponse = ''
    }
  }
}
</script>

<style lang="sass">
  .section__reservation
    min-height: inherit
    height: inherit
    padding-top: 20rem
    padding-bottom: 20rem
    background: $secondary-blue
    background: -moz-linear-gradient(-45deg, $secondary-blue 0%, $primary-blue 100%)
    background: -webkit-linear-gradient(-45deg, $secondary-blue 0%,$primary-blue 100%)
    background: linear-gradient(135deg, $secondary-blue 0%,$primary-blue 100%)
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr=$secondary-blue, endColorstr=$primary-blue,GradientType=1 )

    .field
      margin-bottom: 1rem

    .section__title
      margin-bottom: 6rem
      color: $white
      text-shadow: 0 1rem 1rem rgba(0, 0, 0, .15)

    .label
      font-size: 1.6rem
      color: $white
      text-align: left
      font-weight: $regular

    .input
      font-size: 1.6rem
      padding: 0 1rem
      height: 5rem
      color: #BBC8DF

    .button
      padding: 0 2rem !important
      height: 5rem
      line-height: 5rem
</style>
