<template>
  <section id="comodidades" class="section section__features">
    <div class="container is-fluid">
      <div class="columns">
        <div class="column is-4-tablet is-offset-1-tablet">
          <h2 class="section__title section__title--white">Principais comodidades</h2>
        </div>
      </div>

      <div class="columns">
        <div class="column is-3-desktop is-offset-1-desktop">
          <ul class="features__list">
            <li class="features__item">
              <img src="../assets/images/icon__reception.svg" alt="" class="features__item-icon">
              <h3 class="features__item-title">Recepção</h3>
            </li>
            <li class="features__item">
              <img src="../assets/images/icon__parking-lot.svg" alt="" class="features__item-icon">
              <h3 class="features__item-title">Estacionamento fechado</h3>
            </li>
            <li class="features__item">
              <img src="../assets/images/icon__bar.svg" alt="" class="features__item-icon">
              <h3 class="features__item-title">Bar e petiscaria</h3>
            </li>
            <li class="features__item">
              <img src="../assets/images/icon__nautic-sports.svg" alt="" class="features__item-icon">
              <h3 class="features__item-title">Esportes náuticos</h3>
            </li>
            <li class="features__item">
              <img src="../assets/images/icon__fishing.svg" alt="" class="features__item-icon">
              <h3 class="features__item-title">Pesca esportiva</h3>
            </li>
          </ul>
        </div>
        <div class="column is-3-desktop is-offset-1-desktop">
          <ul class="features__list">
            <li class="features__item">
              <img src="../assets/images/icon__external-area.svg" alt="" class="features__item-icon">
              <h3 class="features__item-title">Área externa</h3>
            </li>
            <li class="features__item">
              <img src="../assets/images/icon__swimming-pool.svg" alt="" class="features__item-icon">
              <h3 class="features__item-title">Área de piscina</h3>
            </li>
            <li class="features__item">
              <img src="../assets/images/icon__boat-tour.svg" alt="" class="features__item-icon">
              <h3 class="features__item-title">Passeio de lancha</h3>
            </li>
            <li class="features__item">
              <img src="../assets/images/icon__pier.svg" alt="" class="features__item-icon">
              <h3 class="features__item-title">Pier para lanchas</h3>
            </li>
            <li class="features__item">
              <img src="../assets/images/icon__4x4.svg" alt="" class="features__item-icon">
              <h3 class="features__item-title">Passeios 4x4</h3>
            </li>
          </ul>
        </div>

        <div class="column is-3 desktop is-offset-1-desktop">
          <ul class="features__list">
            <li class="features__item">
              <img src="../assets/images/icon__security.svg" alt="" class="features__item-icon">
              <h3 class="features__item-title">Segurança</h3>
            </li>
          </ul>

          <ul class="security-list">
            <li class="security-list__item">Portão eletrônico</li>
            <li class="security-list__item">Circuito interno de câmeras</li>
            <li class="security-list__item">Gerador de energia</li>
          </ul>
        </div>
      </div>
    </div>
  </section>
</template>

<style lang="sass" scoped>
  .section__features
    padding-top: 20rem
    padding-bottom: 20rem
    background: $secondary-blue
    background: -moz-linear-gradient(-45deg, $secondary-blue 0%, $primary-blue 100%)
    background: -webkit-linear-gradient(-45deg, $secondary-blue 0%,$primary-blue 100%)
    background: linear-gradient(135deg, $secondary-blue 0%,$primary-blue 100%)
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr=$secondary-blue, endColorstr=$primary-blue,GradientType=1 )

    .section__title
      margin-bottom: 4rem
      color: $white
      text-shadow: 0 1rem 1rem rgba(0, 0, 0, .15)

      &:after
        content: ''
        width: 100vw
        height: .1rem
        background-color: $white
        margin-top: 6rem
        display: block

    .features__item
      display: flex
      align-items: center

    .features__item-icon
      width: 6rem
      height: 10rem
      margin-right: 4rem

    .features__item-title
      font-size: 2.4rem
      font-weight: $bold
      color: $white

    .security-list__item
      color: $white
      font-size: 1.6rem
      padding-left: 1rem

      &:before 
        content: '-'
        display: inline-block
        margin-right: 1.5rem
</style>
