<template>
  <li
    class="slide"
    :class="{ 'active': active }"
    :style="`background-image: url(${imageUrl})`">
    <slot></slot>
  </li>
</template>

<script>
export default {
  name: 'Slide',
  props: {
    active: Boolean,
    imageUrl: String
  }
}
</script>

<style lang="sass" scoped>
  .slide
    height: 100%
    width: 100%
    position: absolute
    background-size: cover
    background-position: center center
    background-repeat: no-repeat
    visibility: hidden
    opacity: 0
    transition: visibility 1s, opacity 1s

    &.active
      visibility: visible
      opacity: 1
</style>
