<template>
  <div class="slider__container">
    <ul class="slider">
      <slide
        v-for="(image, index) in slides"
        :key="`slide-${index}`"
        :active="activeSlideIndex === index"
        :imageUrl="image.url"/>
    </ul>
    <button
      class="slider__navigation slider__navigation--previous"
      @click="previousSlide">
      Previous
    </button>
    <button
      class="slider__navigation slider__navigation--next"
      @click="nextSlide">
      Next
    </button>
  </div>
</template>

<script>
import Slide from '@/components/Slide'
export default {
  name: 'Slider',
  components: {
    Slide
  },
  props: {
    slides: Array,
    transitionDelay: {
      type: Number,
      default: 3000
    },
    transitionLoop: {
      type: Boolean,
      default: true
    }
  },
  data () {
    return {
      activeSlideIndex: 0
    }
  },
  computed: {
    totalSlides () {
      return this.slides.length - 1
    }
  },
  mounted () {
    // window.setInterval(() => {
    //   this.nextSlide()
    // }, this.transitionDelay)
  },
  methods: {
    previousSlide () {
      if (this.activeSlideIndex !== 0) {
        this.activeSlideIndex = this.activeSlideIndex - 1
        return
      }

      if (this.transitionLoop === true && this.activeSlideIndex === 0) {
        this.activeSlideIndex = this.totalSlides
      }
    },

    nextSlide () {
      if (this.activeSlideIndex < this.totalSlides) {
        this.activeSlideIndex = this.activeSlideIndex + 1
        return
      }

      if (this.transitionLoop === true) {
        this.activeSlideIndex = 0
      }
    }
  }
}
</script>

<style lang="sass" scoped>
  .slider__container
    position: relative
    width: 100%
    height: 50vh

    @include breakpoint(desktop)
      margin-top: -.75rem
      height: 100vh
      width: 100%

  .slider
    position: absolute
    top: 0
    left: 0
    right: 0
    bottom: 0
    width: 100%
    height: 100%

    &__navigation
      position: absolute
      top: 50%
      left: 3.5rem
      width: 4rem
      height: 12rem
      background-color: none
      border: 0
      font-size: 0
      background: url(../assets/images/icon__left-arrow.svg) center center /100% no-repeat
      transform: translateY(-50%)
      cursor: pointer

      &--next 
        left: inherit
        right: 3.5rem
        background: url(../assets/images/icon__right-arrow.svg) center center /100% no-repeat
</style>
