<template>
  <div>
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3733.6270537086903!2d-46.07974868424099!3d-20.644052986207946!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94b423165e8aab19%3A0xb0b56ea82a669336!2sPousada+Mar+de+Minas!5e0!3m2!1spt-BR!2sbr!4v1544389007663" width="100%" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>

    <footer class="the-footer">
      <div class="container is-fluid">
        <div class="columns">
          <div class="column is-4-tablet is-offset-1-tablet">
            <ul class="contact__list">
              <li class="contact__item contact__item--phone">
                (37) 3373-1038
              </li>
              <li class="contact__item contact__item--whatsapp">
                (37) 9 9835-2999
              </li>
              <li class="contact__item contact__item--email">
                <a href="mailto:contato@pousadamardeminas.com.br">
                  mardeminascontato@yahoo.com.br
                </a>
              </li>
            </ul>

            <div class="social-media">
              <h3 class="social-media__title">Siga-nos</h3>

              <ul class="social-media__list">
                <li class="social-media__item">
                  <a href="https://www.facebook.com/pousadamardeminas" target="_blank" class="social-media__link">
                    <img src="../assets/images/icon__facebook.svg" alt="Ícone Facebook">
                  </a>
                </li>
                <li class="social-media__item">
                  <a href="https://www.instagram.com/pousadamardeminas/" target="_blank" class="social-media__link">
                    <img src="../assets/images/icon__instagram.svg" alt="Ícone Instagram">
                  </a>
                </li>
              </ul>
            </div>
          </div>
          <div class="column is-4-tablet is-offset-3-tablet">
            <img src="../assets/images/badges.png" alt="">
          </div>
        </div>
      </div>
    </footer>
  </div>
</template>

<style lang="sass" scoped>
  .the-footer
    padding: 6rem 0
    color: $white
    background: #003ba2
    background: -moz-linear-gradient(-45deg, #003ba2 0%, #00215a 100%)
    background: -webkit-linear-gradient(-45deg, #003ba2 0%,#00215a 100%)
    background: linear-gradient(135deg, #003ba2 0%,#00215a 100%)
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#003ba2', endColorstr='#00215a',GradientType=1 )

    a
      color: $white

    .contact__item
      margin-bottom: 2rem
      font-size: 1.6rem
      font-weight: $bold

      &:before
        content: url(../assets/images/icon__phone.svg)
        margin-right: 1rem
        position: relative
        top: .3rem

      &--whatsapp
        &:before
          content: url(../assets/images/icon__whatsapp.svg)

      &--email
        &:before
          content: url(../assets/images/icon__email.svg)

    .social-media__title
      font-size: 2.4rem
      font-weight: $bold
      margin-top: 4rem
      margin-bottom: 2rem

    .social-media__item
      display: inline-block
      margin-right: 2rem
</style>
