<template>
  <header class="the-header">
    <the-logo />
    <the-menu />
  </header>
</template>

<script>
import TheLogo from '@/components/TheLogo'
import TheMenu from '@/components/TheMenu'

export default {
  name: 'TheHeader',
  components: {
    TheLogo,
    TheMenu
  }  
}
</script>

<style lang="sass" scoped>
  .the-header
    display: flex
    justify-content: space-between
    align-items: center
</style>
