<template>
  <div class="the-logo">
    <router-link
      class="the-logo__link"
      to="/">
      <img
        class="the-logo__image"
        src="@/assets/images/brand.svg"
        alt="Pousada Mar de Minas">
    </router-link>
  </div>
</template>
