<template>
  <nav class="the-menu">
    <button
      class="the-menu__toggler"
      :class="{ 'is-active': isActive }"
      type="button"
      @click="isActive = !isActive">
      <span class="the-menu__toggler-bar"></span>
    </button>

    <div
      class="the-menu__navigation"
      :class="{ 'is-active': isActive }">
      <ul
        class="the-menu__navigation-list">
        <li
          v-for="(menuItem, index) in menuItems"
          :key="index"
          class="the-menu__navigation-item">
          <a
            :href="menuItem.url"
            class="the-menu__navigation-link"
            @click="isActive = !isActive">
            {{ menuItem.title }}
          </a>
        </li>
      </ul>
    </div>
  </nav>
</template>

<script>
export default {
  name: 'TheMenu',
  data () {
    return {
      isActive: false,
      menuItems: [
        {
          url: '/',
          title: 'Início'
        },
        {
          url: '/#acomodacoes',
          title: 'Acomodações'
        },
        {
          url: '/#comodidades',
          title: 'Comodidades'
        },
        {
          url: '/#o-que-dizem',
          title: 'O que dizem'
        },
        {
          url: '/#passeios',
          title: 'Passeios'
        },
        {
          url: '/#reservas',
          title: 'Reservas'
        }
      ]
    }
  }
}
</script>

<style lang="sass" scoped>
  .the-menu
    &__toggler
      width: 4.5rem
      height: 3rem
      background: none
      border: none
      cursor: pointer
      outline: none
      position: relative
      z-index: 1010

      &-bar,
      &:before,
      &:after
        content: ''
        height: .1rem
        width: 4.5rem
        display: block
        border-radius: .2rem
        background-color: white
        box-shadow: 0 .2rem .3rem rgba(0, 0, 0, .2)
        position: absolute
        top: 0
        left: 0
        transform-origin: center center
        transform: rotate(0deg)
        transition: opacity .35s, transform .35s, top .35s, bottom .35s

      &-bar
        .is-active &
          transform: rotate(45deg)
          opacity: 0

      &-bar,
      &:after
        top: auto

      &:after
        bottom: 0

      &.is-active
        &:before
          transform: rotate(45deg)
          top: 50%

        &:after
          transform: rotate(-45deg)
          bottom: 50%

    &__navigation
      width: 100vw
      height: 100vh
      display: flex
      justify-content: center
      align-items: center
      text-align: center
      background-color: rgba($secondary-blue, .94)
      position: fixed
      top: 0
      right: 0
      bottom: 0
      left: 0
      z-index: 1000
      transform: translateX(100%)
      transition: transform .35s

      @include breakpoint(desktop)
        left: auto
        max-width: 40vw
        text-align: left

      &.is-active
        transform: translateX(0)

    &__navigation-item
      display: block

    &__navigation-link
      display: block
      padding: 2rem
      font-size: 1.8rem
      line-height: 2.6rem
      text-transform: uppercase
      letter-spacing: .3rem
      font-weight: $medium
      color: $white
</style>
