<template>
  <div id="app">
    <router-view />
  </div>
</template>

<style lang="sass">
  @import '~bulma/bulma'

  html
    font-size: 62.5%
    scroll-behavior: smooth

  body
    font-size: 1.6rem
    font-family: $quicksand
    font-weight: $regular
    font-smoothing: subpixel-antialiased
    -webkit-font-smoothing: subpixel-antialiased
    color: $grey
</style>
