.button
  display: block !important
  width: 100% !important
  padding: 2.5rem 3rem !important
  height: 5rem
  line-height: 5rem
  background: $secondary-blue !important
  border: none
  border-radius: .3rem
  font-size: 1.6rem
  line-height: 1.6rem
  font-weight: $bold
  letter-spacing: .2rem
  text-transform: uppercase
  color: $white
  transition: background .35s

  &:focus
  &:hover
    color: $white
    background: $primary-blue !important

  &--orange
    background: $orange !important

.section
  min-height: 100vh

  &__title
    font-size: 7.2rem
    line-height: 7rem
    font-weight: $bold

    &--secondary
      color: $secondary-blue
